/*
TrueNAS RESTful API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: v2.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package bluefin

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// ReplicationApiService ReplicationApi service
type ReplicationApiService service

type ApiReplicationCountEligibleManualSnapshotsPostRequest struct {
	ctx                                      context.Context
	ApiService                               *ReplicationApiService
	replicationCountEligibleManualSnapshots0 *ReplicationCountEligibleManualSnapshots0
}

func (r ApiReplicationCountEligibleManualSnapshotsPostRequest) ReplicationCountEligibleManualSnapshots0(replicationCountEligibleManualSnapshots0 ReplicationCountEligibleManualSnapshots0) ApiReplicationCountEligibleManualSnapshotsPostRequest {
	r.replicationCountEligibleManualSnapshots0 = &replicationCountEligibleManualSnapshots0
	return r
}

func (r ApiReplicationCountEligibleManualSnapshotsPostRequest) Execute() (*http.Response, error) {
	return r.ApiService.ReplicationCountEligibleManualSnapshotsPostExecute(r)
}

/*
ReplicationCountEligibleManualSnapshotsPost Method for ReplicationCountEligibleManualSnapshotsPost

Count how many existing snapshots of `dataset` match `naming_schema`.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiReplicationCountEligibleManualSnapshotsPostRequest
*/
func (a *ReplicationApiService) ReplicationCountEligibleManualSnapshotsPost(ctx context.Context) ApiReplicationCountEligibleManualSnapshotsPostRequest {
	return ApiReplicationCountEligibleManualSnapshotsPostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *ReplicationApiService) ReplicationCountEligibleManualSnapshotsPostExecute(r ApiReplicationCountEligibleManualSnapshotsPostRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ReplicationApiService.ReplicationCountEligibleManualSnapshotsPost")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/replication/count_eligible_manual_snapshots"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.replicationCountEligibleManualSnapshots0
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiReplicationCreateDatasetPostRequest struct {
	ctx                      context.Context
	ApiService               *ReplicationApiService
	replicationCreateDataset *ReplicationCreateDataset
}

func (r ApiReplicationCreateDatasetPostRequest) ReplicationCreateDataset(replicationCreateDataset ReplicationCreateDataset) ApiReplicationCreateDatasetPostRequest {
	r.replicationCreateDataset = &replicationCreateDataset
	return r
}

func (r ApiReplicationCreateDatasetPostRequest) Execute() (*http.Response, error) {
	return r.ApiService.ReplicationCreateDatasetPostExecute(r)
}

/*
ReplicationCreateDatasetPost Method for ReplicationCreateDatasetPost

# Creates dataset on remote side

Accepts `dataset` name, `transport` and SSH credentials ID (for non-local transport)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiReplicationCreateDatasetPostRequest
*/
func (a *ReplicationApiService) ReplicationCreateDatasetPost(ctx context.Context) ApiReplicationCreateDatasetPostRequest {
	return ApiReplicationCreateDatasetPostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *ReplicationApiService) ReplicationCreateDatasetPostExecute(r ApiReplicationCreateDatasetPostRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ReplicationApiService.ReplicationCreateDatasetPost")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/replication/create_dataset"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.replicationCreateDataset
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiReplicationGetRequest struct {
	ctx        context.Context
	ApiService *ReplicationApiService
	limit      *int32
	offset     *int32
	count      *bool
	sort       *string
}

func (r ApiReplicationGetRequest) Limit(limit int32) ApiReplicationGetRequest {
	r.limit = &limit
	return r
}

func (r ApiReplicationGetRequest) Offset(offset int32) ApiReplicationGetRequest {
	r.offset = &offset
	return r
}

func (r ApiReplicationGetRequest) Count(count bool) ApiReplicationGetRequest {
	r.count = &count
	return r
}

func (r ApiReplicationGetRequest) Sort(sort string) ApiReplicationGetRequest {
	r.sort = &sort
	return r
}

func (r ApiReplicationGetRequest) Execute() (*http.Response, error) {
	return r.ApiService.ReplicationGetExecute(r)
}

/*
ReplicationGet Method for ReplicationGet

`query-options.extra` can be specified as query parameters with prefixing them with `extra.` prefix. For example, `extra.retrieve_properties=false` will pass `retrieve_properties` as an extra argument to pool/dataset endpoint.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiReplicationGetRequest
*/
func (a *ReplicationApiService) ReplicationGet(ctx context.Context) ApiReplicationGetRequest {
	return ApiReplicationGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *ReplicationApiService) ReplicationGetExecute(r ApiReplicationGetRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ReplicationApiService.ReplicationGet")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/replication"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "")
	}
	if r.count != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "count", r.count, "")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiReplicationGetInstancePostRequest struct {
	ctx                    context.Context
	ApiService             *ReplicationApiService
	replicationGetInstance *ReplicationGetInstance
}

func (r ApiReplicationGetInstancePostRequest) ReplicationGetInstance(replicationGetInstance ReplicationGetInstance) ApiReplicationGetInstancePostRequest {
	r.replicationGetInstance = &replicationGetInstance
	return r
}

func (r ApiReplicationGetInstancePostRequest) Execute() (*http.Response, error) {
	return r.ApiService.ReplicationGetInstancePostExecute(r)
}

/*
ReplicationGetInstancePost Method for ReplicationGetInstancePost

Returns instance matching `id`. If `id` is not found, Validation error is raised.

Please see `query` method documentation for `options`.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiReplicationGetInstancePostRequest
*/
func (a *ReplicationApiService) ReplicationGetInstancePost(ctx context.Context) ApiReplicationGetInstancePostRequest {
	return ApiReplicationGetInstancePostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *ReplicationApiService) ReplicationGetInstancePostExecute(r ApiReplicationGetInstancePostRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ReplicationApiService.ReplicationGetInstancePost")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/replication/get_instance"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.replicationGetInstance
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiReplicationIdIdDeleteRequest struct {
	ctx        context.Context
	ApiService *ReplicationApiService
	id         int32
}

func (r ApiReplicationIdIdDeleteRequest) Execute() (*http.Response, error) {
	return r.ApiService.ReplicationIdIdDeleteExecute(r)
}

/*
ReplicationIdIdDelete Method for ReplicationIdIdDelete

Delete a Replication Task with specific `id`

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id
	@return ApiReplicationIdIdDeleteRequest
*/
func (a *ReplicationApiService) ReplicationIdIdDelete(ctx context.Context, id int32) ApiReplicationIdIdDeleteRequest {
	return ApiReplicationIdIdDeleteRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
func (a *ReplicationApiService) ReplicationIdIdDeleteExecute(r ApiReplicationIdIdDeleteRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ReplicationApiService.ReplicationIdIdDelete")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/replication/id/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiReplicationIdIdGetRequest struct {
	ctx        context.Context
	ApiService *ReplicationApiService
	id         int32
}

func (r ApiReplicationIdIdGetRequest) Execute() (*http.Response, error) {
	return r.ApiService.ReplicationIdIdGetExecute(r)
}

/*
ReplicationIdIdGet Method for ReplicationIdIdGet

`query-options.extra` can be specified as query parameters with prefixing them with `extra.` prefix. For example, `extra.retrieve_properties=false` will pass `retrieve_properties` as an extra argument to pool/dataset endpoint.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id
	@return ApiReplicationIdIdGetRequest
*/
func (a *ReplicationApiService) ReplicationIdIdGet(ctx context.Context, id int32) ApiReplicationIdIdGetRequest {
	return ApiReplicationIdIdGetRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
func (a *ReplicationApiService) ReplicationIdIdGetExecute(r ApiReplicationIdIdGetRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ReplicationApiService.ReplicationIdIdGet")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/replication/id/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiReplicationIdIdPutRequest struct {
	ctx        context.Context
	ApiService *ReplicationApiService
	id         int32
}

func (r ApiReplicationIdIdPutRequest) Execute() (*http.Response, error) {
	return r.ApiService.ReplicationIdIdPutExecute(r)
}

/*
ReplicationIdIdPut Method for ReplicationIdIdPut

Update a Replication Task with specific `id`

# See the documentation for `create` method for information on payload contents

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id
	@return ApiReplicationIdIdPutRequest
*/
func (a *ReplicationApiService) ReplicationIdIdPut(ctx context.Context, id int32) ApiReplicationIdIdPutRequest {
	return ApiReplicationIdIdPutRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
func (a *ReplicationApiService) ReplicationIdIdPutExecute(r ApiReplicationIdIdPutRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPut
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ReplicationApiService.ReplicationIdIdPut")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/replication/id/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiReplicationIdIdRestorePostRequest struct {
	ctx        context.Context
	ApiService *ReplicationApiService
	id         int32
}

func (r ApiReplicationIdIdRestorePostRequest) Execute() (*http.Response, error) {
	return r.ApiService.ReplicationIdIdRestorePostExecute(r)
}

/*
ReplicationIdIdRestorePost Method for ReplicationIdIdRestorePost

Create the opposite of replication task `id` (PULL if it was PUSH and vice versa).

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id
	@return ApiReplicationIdIdRestorePostRequest
*/
func (a *ReplicationApiService) ReplicationIdIdRestorePost(ctx context.Context, id int32) ApiReplicationIdIdRestorePostRequest {
	return ApiReplicationIdIdRestorePostRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
func (a *ReplicationApiService) ReplicationIdIdRestorePostExecute(r ApiReplicationIdIdRestorePostRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ReplicationApiService.ReplicationIdIdRestorePost")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/replication/id/{id}/restore"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiReplicationIdIdRunPostRequest struct {
	ctx        context.Context
	ApiService *ReplicationApiService
	id         int32
}

func (r ApiReplicationIdIdRunPostRequest) Execute() (*http.Response, error) {
	return r.ApiService.ReplicationIdIdRunPostExecute(r)
}

/*
ReplicationIdIdRunPost Method for ReplicationIdIdRunPost

Run Replication Task of `id`.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id
	@return ApiReplicationIdIdRunPostRequest
*/
func (a *ReplicationApiService) ReplicationIdIdRunPost(ctx context.Context, id int32) ApiReplicationIdIdRunPostRequest {
	return ApiReplicationIdIdRunPostRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
func (a *ReplicationApiService) ReplicationIdIdRunPostExecute(r ApiReplicationIdIdRunPostRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ReplicationApiService.ReplicationIdIdRunPost")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/replication/id/{id}/run"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiReplicationListDatasetsPostRequest struct {
	ctx                     context.Context
	ApiService              *ReplicationApiService
	replicationListDatasets *ReplicationListDatasets
}

func (r ApiReplicationListDatasetsPostRequest) ReplicationListDatasets(replicationListDatasets ReplicationListDatasets) ApiReplicationListDatasetsPostRequest {
	r.replicationListDatasets = &replicationListDatasets
	return r
}

func (r ApiReplicationListDatasetsPostRequest) Execute() (*http.Response, error) {
	return r.ApiService.ReplicationListDatasetsPostExecute(r)
}

/*
ReplicationListDatasetsPost Method for ReplicationListDatasetsPost

# List datasets on remote side

Accepts `transport` and SSH credentials ID (for non-local transport)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiReplicationListDatasetsPostRequest
*/
func (a *ReplicationApiService) ReplicationListDatasetsPost(ctx context.Context) ApiReplicationListDatasetsPostRequest {
	return ApiReplicationListDatasetsPostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *ReplicationApiService) ReplicationListDatasetsPostExecute(r ApiReplicationListDatasetsPostRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ReplicationApiService.ReplicationListDatasetsPost")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/replication/list_datasets"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.replicationListDatasets
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiReplicationListNamingSchemasGetRequest struct {
	ctx        context.Context
	ApiService *ReplicationApiService
}

func (r ApiReplicationListNamingSchemasGetRequest) Execute() (*http.Response, error) {
	return r.ApiService.ReplicationListNamingSchemasGetExecute(r)
}

/*
ReplicationListNamingSchemasGet Method for ReplicationListNamingSchemasGet

List all naming schemas used in periodic snapshot and replication tasks.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiReplicationListNamingSchemasGetRequest
*/
func (a *ReplicationApiService) ReplicationListNamingSchemasGet(ctx context.Context) ApiReplicationListNamingSchemasGetRequest {
	return ApiReplicationListNamingSchemasGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *ReplicationApiService) ReplicationListNamingSchemasGetExecute(r ApiReplicationListNamingSchemasGetRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ReplicationApiService.ReplicationListNamingSchemasGet")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/replication/list_naming_schemas"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiReplicationPostRequest struct {
	ctx                context.Context
	ApiService         *ReplicationApiService
	replicationCreate0 *ReplicationCreate0
}

func (r ApiReplicationPostRequest) ReplicationCreate0(replicationCreate0 ReplicationCreate0) ApiReplicationPostRequest {
	r.replicationCreate0 = &replicationCreate0
	return r
}

func (r ApiReplicationPostRequest) Execute() (*http.Response, error) {
	return r.ApiService.ReplicationPostExecute(r)
}

/*
ReplicationPost Method for ReplicationPost

# Create a Replication Task

Create a Replication Task that will push or pull ZFS snapshots to or from remote host..

* `name` specifies a name for replication task
* `direction` specifies whether task will `PUSH` or `PULL` snapshots
* `transport` is a method of snapshots transfer:

  - `SSH` transfers snapshots via SSH connection. This method is supported everywhere but does not achieve
    great performance
    `ssh_credentials` is a required field for this transport (Keychain Credential ID of type `SSH_CREDENTIALS`)

  - `SSH+NETCAT` uses unencrypted connection for data transfer. This can only be used in trusted networks
    and requires a port (specified by range from `netcat_active_side_port_min` to `netcat_active_side_port_max`)
    to be open on `netcat_active_side`
    `ssh_credentials` is also required for control connection

  - `LOCAL` replicates to or from localhost
    `sudo` flag controls whether `SSH` and `SSH+NETCAT` transports should use sudo (which is expected to be
    passwordless) to run `zfs` command on the remote machine.

  - `source_datasets` is a non-empty list of datasets to replicate snapshots from

  - `target_dataset` is a dataset to put snapshots into. It must exist on target side

  - `recursive` and `exclude` have the same meaning as for Periodic Snapshot Task

  - `properties` control whether we should send dataset properties along with snapshots

  - `periodic_snapshot_tasks` is a list of periodic snapshot task IDs that are sources of snapshots for this
    replication task. Only push replication tasks can be bound to periodic snapshot tasks.

  - `naming_schema` is a list of naming schemas for pull replication

  - `also_include_naming_schema` is a list of naming schemas for push replication

  - `name_regex` will replicate all snapshots which names match specified regular expression

  - `auto` allows replication to run automatically on schedule or after bound periodic snapshot task

  - `schedule` is a schedule to run replication task. Only `auto` replication tasks without bound periodic
    snapshot tasks can have a schedule

  - `restrict_schedule` restricts when replication task with bound periodic snapshot tasks runs. For example,
    you can have periodic snapshot tasks that run every 15 minutes, but only run replication task every hour.

  - Enabling `only_matching_schedule` will only replicate snapshots that match `schedule` or
    `restrict_schedule`

  - `allow_from_scratch` will destroy all snapshots on target side and replicate everything from scratch if none
    of the snapshots on target side matches source snapshots

  - `readonly` controls destination datasets readonly property:

  - `SET` will set all destination datasets to readonly=on after finishing the replication

  - `REQUIRE` will require all existing destination datasets to have readonly=on property

  - `IGNORE` will avoid this kind of behavior

  - `hold_pending_snapshots` will prevent source snapshots from being deleted by retention of replication fails
    for some reason

  - `retention_policy` specifies how to delete old snapshots on target side:

  - `SOURCE` deletes snapshots that are absent on source side

  - `CUSTOM` deletes snapshots that are older than `lifetime_value` and `lifetime_unit`

  - `NONE` does not delete any snapshots

  - `compression` compresses SSH stream. Available only for SSH transport

  - `speed_limit` limits speed of SSH stream. Available only for SSH transport

  - `large_block`, `embed` and `compressed` are various ZFS stream flag documented in `man zfs send`

  - `retries` specifies number of retries before considering replication failed

    @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
    @return ApiReplicationPostRequest
*/
func (a *ReplicationApiService) ReplicationPost(ctx context.Context) ApiReplicationPostRequest {
	return ApiReplicationPostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *ReplicationApiService) ReplicationPostExecute(r ApiReplicationPostRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ReplicationApiService.ReplicationPost")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/replication"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.replicationCreate0
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiReplicationRunOnetimePostRequest struct {
	ctx                    context.Context
	ApiService             *ReplicationApiService
	replicationRunOnetime0 *ReplicationRunOnetime0
}

func (r ApiReplicationRunOnetimePostRequest) ReplicationRunOnetime0(replicationRunOnetime0 ReplicationRunOnetime0) ApiReplicationRunOnetimePostRequest {
	r.replicationRunOnetime0 = &replicationRunOnetime0
	return r
}

func (r ApiReplicationRunOnetimePostRequest) Execute() (*http.Response, error) {
	return r.ApiService.ReplicationRunOnetimePostExecute(r)
}

/*
ReplicationRunOnetimePost Method for ReplicationRunOnetimePost

Run replication task without creating it.

If `only_from_scratch` is `true` then replication will fail if target dataset already exists.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiReplicationRunOnetimePostRequest
*/
func (a *ReplicationApiService) ReplicationRunOnetimePost(ctx context.Context) ApiReplicationRunOnetimePostRequest {
	return ApiReplicationRunOnetimePostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *ReplicationApiService) ReplicationRunOnetimePostExecute(r ApiReplicationRunOnetimePostRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ReplicationApiService.ReplicationRunOnetimePost")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/replication/run_onetime"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.replicationRunOnetime0
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiReplicationTargetUnmatchedSnapshotsPostRequest struct {
	ctx                                 context.Context
	ApiService                          *ReplicationApiService
	replicationTargetUnmatchedSnapshots *ReplicationTargetUnmatchedSnapshots
}

func (r ApiReplicationTargetUnmatchedSnapshotsPostRequest) ReplicationTargetUnmatchedSnapshots(replicationTargetUnmatchedSnapshots ReplicationTargetUnmatchedSnapshots) ApiReplicationTargetUnmatchedSnapshotsPostRequest {
	r.replicationTargetUnmatchedSnapshots = &replicationTargetUnmatchedSnapshots
	return r
}

func (r ApiReplicationTargetUnmatchedSnapshotsPostRequest) Execute() (*http.Response, error) {
	return r.ApiService.ReplicationTargetUnmatchedSnapshotsPostExecute(r)
}

/*
ReplicationTargetUnmatchedSnapshotsPost Method for ReplicationTargetUnmatchedSnapshotsPost

Check if target has any snapshots that do not exist on source. Returns these snapshots grouped by dataset.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiReplicationTargetUnmatchedSnapshotsPostRequest
*/
func (a *ReplicationApiService) ReplicationTargetUnmatchedSnapshotsPost(ctx context.Context) ApiReplicationTargetUnmatchedSnapshotsPostRequest {
	return ApiReplicationTargetUnmatchedSnapshotsPostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *ReplicationApiService) ReplicationTargetUnmatchedSnapshotsPostExecute(r ApiReplicationTargetUnmatchedSnapshotsPostRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ReplicationApiService.ReplicationTargetUnmatchedSnapshotsPost")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/replication/target_unmatched_snapshots"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.replicationTargetUnmatchedSnapshots
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
